<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Blog Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a th:href="@{/}" class="logo">
									<span class="fa fa-pencil"></span> <span class="title">Blog Website</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>

							<li><a th:href="@{/}">Home</a></li>

							<li><a th:href="@{/blog}" class="active">Blog</a></li>

							<li><a th:href="@{/about}">About</a></li>

							<li><a th:href="@{/team}">Authors</a></li>

							<li><a th:href="@{/contact}">Contact Us</a></li>

							<li><a th:href="@{/login}">Login</a></li>

							<li><a th:href="@{/sign-up}">SignUp</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Blog</h1>

							<div class="image main">
								<img src="/images/banner-image-3-1920x500.jpg" class="img-fluid" alt="" />
							</div>
							
							<div class="container-fluid">
								<div class="row">
									<div class="col-9">
										<div class="row">
											<div class="col-sm-6 text-center">
												<img src="/images/blog-1-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">Working and Learning from Home During the COVID-19 Outbreak.</a></h2>

												<p> Rahime Yildiz &nbsp;|&nbsp; 10/03/2022 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="/images/blog-2-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">10 Ways To Make A Book Club Fun And Not Intense.</a></h2>

												<p> Hilal Demir &nbsp;|&nbsp; 09/03/2022 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="/images/blog-3-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">5 Simple tips to improve your blog writing.</a></h2>

												<p> Sinan Hubeyb &nbsp;|&nbsp; 08/03/2022 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="/images/blog-4-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">Feeling like your book club is in a bit of a rut?</a></h2>

												<p> Ali Jamal &nbsp;|&nbsp; 09/03/2022 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="/images/blog-5-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">Computer Safety Tips.</a></h2>

												<p> Sinan Hubeyb &nbsp;|&nbsp; 02/03/2022 13:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="/images/blog-6-720x480.jpg" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">Writing Workshop Activities: Everything You Need to Know
													Looking for writing workshop tips?.</a></h2>

												<p> Rahime Yildiz &nbsp;|&nbsp; 06/03/2022 12:30</p>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="form-group">
				                            <h4>Blog Search</h4>
				                        </div>

										<div class="form-group">
				                            <div class="input-group">
				                                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">

				                                <span class="input-group-addon"><a href="#"><i class="fa fa-search"></i></a></span>
				                            </div>
				                        </div>

				                        <br>

				                        <p><a href="#">First travel blog post</a></p>

				                        <p><a href="#">How wild Flemish nature</a></p>

				                        <p><a href="#">What Is Art For? </a></p>

				                        <p><a href="#">Where shall I go on holiday next year?</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2020 Company Name </li>
								<li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/main.js"></script>

	</body>
</html>