<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>PHPJabbers.com | Free Blog Website Template</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/main.css" />
<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a th:href="@{/}" class="logo">
                <span class="fa fa-pencil"></span> <span class="title">Blog Website</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/}">Home</a></li>

            <li><a th:href="@{/blog}">Blog</a></li>

            <li><a th:href="@{/contact}">Contact Us</a></li>

            <li><a th:href="@{/profile}" >Profile</a></li>

            <li><a th:href="@{/update}" class="active">Update</a></li>

            <li><a th:href="@{/delete}" th:action="@{/users/deleteUser/{id}}" >Delete</a></li>

            <li><a th:href="@{/logout}" th:action="@{/users/logout}">Logout</a></li>


        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Edit Profile!</h1>

            <div class="image main">
                <img src="/images/blog-fullscreen-1-1920x700.jpg" class="img-fluid" alt=""/>
            </div>

            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>

                &nbsp;
            </section>

            <ul class="copyright">
                <li>Copyright © 2020 Company Name</li>
                <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>